/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
}

img{
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 100px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
